@font-face {
    font-family: 'Sarabun';
    src: url('/esb/fonts/THSarabunNew.ttf') format('truetype');
}

.o_sarabun {
    font-family: Sarabun !important;
}

.header{
    font-size: 18px;
}

.article {
    font-size: 18px;
    td.width15 {
        width: 15%;
    }
    td.width55 {
        width: 55%;
    }
    td.width15 {
        width: 15%;
    }
    td.width15 {
        width: 15%;
    }
    table {
        thead{
            tr th {
                border-top: 1px solid;
                border-bottom: 1px solid;
            }
        }
        tbody {
            tr {
                border-bottom: none;
            }
        }
        tfoot {
            tr.last-child td {
                border-top: none;
            }
            tr.total td {
                border-top: 1px solid;
                border-bottom: 1px solid;
            }
        }
    }
}

.footer {
    font-size: 18px;
}
